<template id="agitprofile-menu">
    <div class="menu-entry profile">
        <a class="logout">
            <i class="fa fa-user"></i>
            <span>{{ t("log out") }}</span>
        </a>
    </div>
</template>
