<template id="agitprofile-menu">
    <div class="profile">
        <h2 class="item">
            <a class="logout main">
                <i class="fa fa-user"></i>
                <span>{{ t("log out") }}</span>
            </a>
        </h2>
    </div>
</template>
