<template id="agitprofile-menu">
    <div class="menu-entry profile">
        <h2><i class="fa fa-user"></i>{{ t("Profile") }}</h2>
        <ul>
            <li><a class="logout">{{ t("log out") }}</a></li>
        </ul>
    </div>
</template>
